* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Poppins", sans-serif;
  text-shadow: 0px 0px 20px #242424;
}

main {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.top {
  display: flex;
  justify-content: center;
}

h1.time {
  margin-left: 110px;
  font-size: 5rem;
}

div#weather {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-top: 48px;
  margin-left: 20px;
}

div#weather > img {
  width: 70px;
}

p.weather-city {
  width: 100%;
  margin: 0;
  margin-top: -10px;
  font-size: 1.2rem;
}

p.weather-temp {
  margin: 0;
  font-size: 1.7rem;
  margin-left: -10px;
}

p#author {
  font-size: 1rem;
}

input {
  all: unset;
  color: #fff;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #fff;
  opacity: 0.7;
}

button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #fff;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

.wrapper {
  margin-top: 190px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box {
  width: 50%;
  position: relative;
}

.search_box input[type="text"] {
  width: 100%;
  padding: 20px;
  padding-right: 60px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 25px;
  color: #fff;
  outline: none;
}

.fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  right: 25px;
  color: #fff;
  font-size: 16px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

@media screen and (max-width: 425px) {
  .search_box {
    width: 95%;
  }
}

div#link {
  margin: 80px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

img {
  width: 220%;
}

.container {
  margin: 0px;
  position: absolute;
  width: 20%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  min-width: 200px;
  border: 2px solid #fff;
}

.todo-item {
  border-radius: 10px;
  align-items: center;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
  height: 50px;
  width: 92%;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 10px;
  display: flex;
}

.todo-item span {
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
}

.done span {
  text-decoration: line-through rgba(54, 230, 10, 0.856);
}

input[type="checkbox"] {
  display: none;
}

.tick {
  margin: 0px;
  width: 30px;
  height: 30px;
  border: 3px solid rgb(139, 139, 139);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.tick::before {
  margin: 0px;
  content: "✓";
  color: rgba(54, 230, 10, 0.856);
  font-size: 16px;
  display: none;
}

.done .tick::before {
  margin: 0px;
  display: inline;
}

.delete-todo {
  margin-left: 33px;
  position: absolute;
  background-color: black;
  opacity: 0;
  color: #ffffff;
  border: none;
  cursor: pointer;
  outline: none;
  height: 30px;
  width: 76%;
  border-radius: 5px;
}

.checklist-icon {
  margin-bottom: 20px;
}

.empty-state__title,
.empty-state__description {
  margin-bottom: 20px;
}

/* Add this below the other styles */
.todo-list:empty {
  display: none;
}

.todo-list:empty + .empty-state {
  display: flex;
}

#wall-btn {
  border: 3px solid red;
}

#search-btn {
  display: none;
}

.sfondo {
  position: relative;
  transform: translate(0%, -950%);
  margin-top: auto;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 10px;
  font-size: 14px;
  width: 140px;
  height: 35px;
}

.boo {
  cursor: auto;
  position: absolute;
  font-size: 7rem;
  margin: auto;
  transform: translate(-120%, -120%);
  opacity: 0.25;
  filter: blur(2px) drop-shadow(0 0 25px white);
  animation: boo 3s linear infinite;
}
@keyframes boo {
  50% {
    opacity: 0.04;
  }
}

#due {
  display: flex;
  justify-content: end;
}
